<!-- 
    使用 flask-boostrap 的轉譯表單 
    import指令 匯入bootstrap的wtf模板元素來使用 
-->
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Flasky {% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        Hello, 
        {% if current_user.is_authenticated %}
            {{ current_user.username }}
        {% else %}
            Stranger
        {% endif %} !
    </h1>
</div>
<!-- wtf.quick_form()會接收一個flask-wtf的表單物件, 並使用Bootstrap來轉譯 -->
{{ wtf.quick_form(form) }}
{% endblock %}